body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    border: 1px solid black;
}

.game-square {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
}